@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
  margin: 0; 
  padding: 0; 
  outline: 0; 
  box-sizing: border-box; 
}

html, body, #root{
  min-height: 100%; 
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover; 
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; 
  font-size: 14px;
}

.container {
  margin: 80px auto 0; 
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.content{
  width: 100%; 
  background: #fff; 
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content > p {
  font-size: 22px; 
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  display: flex;
  flex-direction: column
}

.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold; 
  margin-bottom: 8px;
}

.content form input{
  margin-bottom: 20px; 
  border: 1px solid #ddd;
  border-radius: 2px; 
  height: 45px; 
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn{ 
  border: 0; 
  border-radius: 2px; 
  width: 100%; 
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold; 
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
 
}

.container button.btn2{
  margin-top: 5px;
}

.content button.btn:hover{
  background: #e14f50;
  cursor: pointer;

}

.content form label span {
  font-weight: normal; 
  color: #999;
  font-size: 12px;
}

.booking{
  list-style: none;
  line-height: 25px; 
  font-size: 16px;
}

.booking li {
  margin-top: 25px;
}

.approved{
  color: #84C870;

}

.rejected{
  color: #e55e5e;
}

.logout {
  text-decoration: none;
  color: #e55e5e; 
  margin-top: 20px;
}

.link{
  text-decoration: none
}

footer{
  display: flex; 
  justify-content: space-between
}

.cadastro{
  color: #e55e5e;
  margin-top: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center

}

.created{
  color: #e55e5e; 
  margin-top: 25px;
  justify-content: center; 
  display: flex;
}

.access{
  color: #e55e5e; 
  font-size: 18px;
}

.non-register{
  margin-top: 10px;
  font-weight: bold; 
  display: flex;
  justify-content: center
}

.button-approved{
  width: 70px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 2px;
  cursor: pointer; 
  background:none;
  background: #84C870; 
  border: none

}